# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
.DS_Store
New Jersey/ehist_Atlantic.csv
New Jersey/ehist_Atlantic.csv.zip
New Jersey/ehist_Bergen.csv
New Jersey/ehist_Bergen.csv.zip
New Jersey/ehist_Burlington.csv
New Jersey/ehist_Burlington.csv.zip
New Jersey/ehist_Camden.csv
New Jersey/ehist_Camden.csv.zip
New Jersey/ehist_Cape May.csv
New Jersey/ehist_Cape May.csv.zip
New Jersey/ehist_Cumberland.csv
New Jersey/ehist_Cumberland.csv.zip
New Jersey/ehist_Essex.csv
New Jersey/ehist_Essex.csv.zip
New Jersey/ehist_Gloucester.csv
New Jersey/ehist_Gloucester.csv.zip
New Jersey/ehist_Hudson.csv
New Jersey/ehist_Hudson.csv.zip
New Jersey/ehist_Hunterdon.csv
New Jersey/ehist_Hunterdon.csv.zip
New Jersey/ehist_Mercer.csv
New Jersey/ehist_Mercer.csv.zip
New Jersey/ehist_Middlesex.csv
New Jersey/ehist_Middlesex.csv.zip
New Jersey/ehist_Monmouth.csv
New Jersey/ehist_Monmouth.csv.zip
New Jersey/ehist_Morris.csv
New Jersey/ehist_Morris.csv.zip
New Jersey/ehist_Ocean.csv
New Jersey/ehist_Ocean.csv.zip
New Jersey/ehist_Passaic.csv
New Jersey/ehist_Passaic.csv.zip
New Jersey/ehist_Salem.csv
New Jersey/ehist_Salem.csv.zip
New Jersey/ehist_Somerset.csv
New Jersey/ehist_Somerset.csv.zip
New Jersey/ehist_Sussex.csv
New Jersey/ehist_Sussex.csv.zip
New Jersey/ehist_Union.csv
New Jersey/ehist_Union.csv.zip
New Jersey/ehist_Warren.csv
New Jersey/ehist_Warren.csv.zip
New Jersey/OPRA \#20334 - Release data.csv
New Jersey/OPRA \#20334 - Release data.xlsx
New Jersey/Statewide Election History 06.10.2022.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Atlantic.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Atlantic.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Bergen.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Bergen.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Burlington.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Burlington.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Camden.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Camden.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Cape May.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Cape May.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Cumberland.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Cumberland.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Essex.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Essex.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Gloucester.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Gloucester.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Hudson.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Hudson.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Hunterdon.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Hunterdon.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Mercer.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Mercer.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Middlesex.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Middlesex.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Monmouth.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Monmouth.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Morris.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Morris.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Ocean.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Ocean.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Passaic.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Passaic.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Salem.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Salem.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Somerset.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Somerset.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Sussex.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Sussex.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Union.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Union.csv.zip
New Jersey/Statewide Election History 06.10.2022/ehist_Warren.csv
New Jersey/Statewide Election History 06.10.2022/ehist_Warren.csv.zip
New Jersey/Statewide Election History 06.10.2022/VOTER HISTORY DATA 6.10.22.pdf
New Jersey/Statewide Voter List 06.10.2022.zip
New Jersey/Statewide Voter List 06.10.2022/ALPHA VOTER STATEWIDE 6.10.22.pdf
New Jersey/Statewide Voter List 06.10.2022/vlist_Atlantic.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Atlantic.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Bergen.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Bergen.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Burlington.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Burlington.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Camden.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Camden.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_CapeMay.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_CapeMay.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Cumberland.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Cumberland.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Essex.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Essex.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Gloucester.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Gloucester.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Hudson.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Hudson.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Hunterdon.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Hunterdon.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Mercer.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Mercer.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Middlesex.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Middlesex.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Monmouth.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Monmouth.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Morris.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Morris.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Ocean.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Ocean.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Passaic.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Passaic.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Salem.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Salem.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Somerset.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Somerset.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Sussex.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Sussex.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Union.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Union.csv.zip
New Jersey/Statewide Voter List 06.10.2022/vlist_Warren.csv
New Jersey/Statewide Voter List 06.10.2022/vlist_Warren.csv.zip
New Jersey/vlist_Atlantic.csv
New Jersey/vlist_Atlantic.csv.zip
New Jersey/vlist_Bergen.csv
New Jersey/vlist_Bergen.csv.zip
New Jersey/vlist_Burlington.csv
New Jersey/vlist_Burlington.csv.zip
New Jersey/vlist_Camden.csv
New Jersey/vlist_Camden.csv.zip
New Jersey/vlist_CapeMay.csv
New Jersey/vlist_CapeMay.csv.zip
New Jersey/vlist_Cumberland.csv
New Jersey/vlist_Cumberland.csv.zip
New Jersey/vlist_Essex.csv
New Jersey/vlist_Essex.csv.zip
New Jersey/vlist_Gloucester.csv
New Jersey/vlist_Gloucester.csv.zip
New Jersey/vlist_Hudson.csv
New Jersey/vlist_Hudson.csv.zip
New Jersey/vlist_Hunterdon.csv
New Jersey/vlist_Hunterdon.csv.zip
New Jersey/vlist_Mercer.csv
New Jersey/vlist_Mercer.csv.zip
New Jersey/vlist_Middlesex.csv
New Jersey/vlist_Middlesex.csv.zip
New Jersey/vlist_Monmouth.csv
New Jersey/vlist_Monmouth.csv.zip
New Jersey/vlist_Morris.csv
New Jersey/vlist_Morris.csv.zip
New Jersey/vlist_Ocean.csv
New Jersey/vlist_Ocean.csv.zip
New Jersey/vlist_Passaic.csv
New Jersey/vlist_Passaic.csv.zip
New Jersey/vlist_Salem.csv
New Jersey/vlist_Salem.csv.zip
New Jersey/vlist_Somerset.csv
New Jersey/vlist_Somerset.csv.zip
New Jersey/vlist_Sussex.csv
New Jersey/vlist_Sussex.csv.zip
New Jersey/vlist_Union.csv
New Jersey/vlist_Union.csv.zip
New Jersey/vlist_Warren.csv
New Jersey/vlist_Warren.csv.zip
